<div class="jumbotron">
  <h1 class="title">New Job</h1>
  <p class="slogan">
  find  new job and start living the life  imagined.
  </p>
  <P class="lead">
    <a class="btn btn-lg btn-danger" href="/jobs">start now</a>
  </P>
</div>
