<br />
<div class="category-page col-md-8 col-md-offset-1">
<h3 class="text-center"><%= @job.title %> - Resume List</h3>


<hr />
<%= render :partial => "resume", :collection => @resumes, :as => :resume %>
</div>
