/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


body {
  background: #edeae6;
}

body {
  background: url("https://source.unsplash.com/MAxHEAaAukI");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.jumbotron {
  border: 1px solid red;
  background-image:url('11.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.title {
  border: 1px solid red;
  font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 80px;
  color: white !important;
}

.slogan {
  border: 1px solid red;
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  top: 12px;
}

.lead {
  border: 1px solid red;
  margin-bottom: 50px;
  text-align: center;
  color: white;
}
.navbar-default {
    background-color: #564b3f;
    border-color: #E7E7E7;
    color: white !important;
}
.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.aboutus {
    background-color: #846c5b;
    margin-bottom: 0px;
    margin-top: -25px;
}

.category-page {
    margin-top: 60px;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 2px 2px #c4c2be;
}
